body{
    background: rgb(44,52,83);
    background: linear-gradient(90deg, rgba(44,52,83,1) 0%, rgba(14,17,26,1) 100%);
    color: white;
    font-family: "comfortaa";
    font-size: 15px;
    text-decoration: none;
}
span{
    color: rgb(255, 138, 0);
}
.card, .alert{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    color: white;
}
.card-title{
    color: white;
}