body{
    background-color: rgb(25, 30, 47);
    color: white;
    font-family: "comfortaa";
    font-size: 15px;
    text-decoration: none;
}
span{
    color: rgb(255, 138, 0);
}
.card, .alert{
    background-color: rgb(255, 138, 0);
    border-color: transparent;
    border-radius: 10px;
    color: white;
}
.card-title{
    color: white;
}